.component-heading {
  font-size: 4.0rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.about-container {
    padding: 20px;
  }
  
  .about-section {
    margin-bottom: 30px;
    z-index: 10;
    background-color:rgb(240, 210, 180);
    border: 1px solid rgb(0, 221, 255);
    margin: 20px;
    padding: 20px;
  }
  
  .about-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-section p {
    font-size: 2rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .about-section ol {
    list-style-type: decimal;
    margin-left: 20px;
    font-size: 2rem;
    padding-left: 20px;
  }
  
  .about-section ol li {
    font-size: 2rem;
    color: #666;
    margin-bottom: 5px;
  }

  .about-section h2:hover {
    color: #a31809;
  }

  .component-heading:hover, .about-section ol li:hover {
    color: #a31809;
  }

  .about-section1 h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-section1 p {
    font-size: 2rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .about-section1 ol {
    list-style-type: decimal;
    margin-left: 20px;
    font-size: 2rem;
    padding-left: 20px;
  }
  
  .about-section1 ol li {
    font-size: 2rem;
    color: #666;
    margin-bottom: 5px;
  }

  .about-section h2:hover {
    color: #a31809;
  }